.memoBlockInner{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.memoBlockFront, .memoBlockBack{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.memoBlockFlipped {
    transform: rotateY(180deg);
}

.memoBlockBack{
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
}

